/* Общие стили для страницы */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #343a40;
}

p {
    color: #6c757d;
}

/* Стили для формы поиска */
#searchForm {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

#query {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ced4da;
}

#searchResults {
    position: absolute;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    display: none;
    border-top: none;
}

#searchResults li {
    padding: 12px;
    cursor: pointer;
}

#searchResults li:hover {
    background-color: #f8f9fa;
}

/* Стили для информационного раздела */
.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Дополнительные стили */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

ul {
    padding-left: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.mt-6 {
    background-color: #6998ab;
}