<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ attraction_name }} в {{ city }}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>{{ attraction_name }} в {{ city }}</h1>
    
    <div id="attractionInfo">
        <p>{{ attraction_info.description }}</p>
        <img src="{{ attraction_info.photo}}" alt="{{ attraction_name }}">
    </div>
    <a href="/">Вернуться к поиску</a>
</body>
</html>
