<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск достопримечательностей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    
    <div class="container mt-5">
        <div class="container mt-6">
            <h1 class="mb-4 text-center" style="color: white;">Поиск достопримечательностей</h1>
            <form id="searchForm" class="mb-4">
                <div class="form-group">
                    <input type="text" id="query" name="query" class="form-control" placeholder="Введите название города или достопримечательности" required>
                </div>
                <div id="searchResults" class="list-group"></div>
            </form>
        </div>
        <div class="mt-5 text-center">
            <h2>Добро пожаловать!</h2>
            <p>Найдите интересные достопримечательности в различных городах России. Пользуйтесь поиском для поиска мест и получения дополнительной информации.</p>
            <h3>Самые популярные города:</h3>
            <ul class="list-unstyled">
                <li>Москва</li>
                <li>Санкт-Петербург</li>
                <li>Казань</li>
                <li>Сочи</li>
                <li>Екатеринбург</li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
